@model QuanLiDiem.Models.Student

@{
    ViewBag.Title = "Thông tin chi tiết học sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết học sinh</h2>

<div>
    <h4>Học sinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new {  id = Model.MaHS }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
